.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.segment {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin: unset !important;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15);
}

.ui.grid {
  margin:unset !important;
}

.am-card-header-extra {
  flex:none !important;
  text-align: right;
  font-size: 17px;
  color: #888;
}

.am-modal-transparent {
  width: 90%;
  min-width:270px;
}

.am-modal-transparent .am-modal-content .am-modal-body {
  padding: 0 0px 15px;
}
